<html>
    <head>
        <link rel="stylesheet" href="/web_static/app/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/web_static/app/css/index.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        
        <div class="jumbotron">
            <div class="container">
                <h2>Inhibitie-Test: Kleuren</h2>
            </div>
        </div>
        
        <div class="col-md-8 col-md-offset-2 doedetest">
            <h2 class="centered">Doe hem <a href="/app/doe-de-test/">hier!</a></h2>
            <div class="credits">
                <marquee>Gemaakt door:</marquee>
                <marquee>Frontend: Kevin van Geemen, Niels Gorter, Hans Goor</marquee>
                <marquee>Backend: Hans Goor</marquee>
                <br>
                <marquee>Met dank aan: Owen Lentjes</marquee>
                <marquee>Testers: Owen Lentjes, Bart Sweers, Kevin van Geemen, Hans Goor</marquee>
            </div>
        </div>
    </body>
</html>